<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504000387893-tncldlb421usc0v3584jg8ua69qahhjm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504000387893-tncldlb421usc0v3584jg8ua69qahhjm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>504000387893-eufgu43uthprodgh4ced04h13pd8h3kr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCtTD26zy6MhiF-2VXTqCpU44gDrujY6Cw</string>
	<key>GCM_SENDER_ID</key>
	<string>504000387893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>care-me-plus</string>
	<key>STORAGE_BUCKET</key>
	<string>care-me-plus.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504000387893:ios:59e65e1d16f2209b104a7c</string>
</dict>
</plist>